---
site_name: "Nokogiri"
site_url: https://nokogiri.org
repo_name: sparklemotion/nokogiri
repo_url: https://github.com/sparklemotion/nokogiri
edit_uri: ""
site_description: "The Official Tutorial Archive™ of Nokogiri®"
site_author: "Mike Dalessio"
copyright: "Copyright Ⓒ 2009-2022 Mike Dalessio"

docs_dir: staging
use_directory_urls: false

theme:
  name: material
  font:
    text: "Ubuntu"
    code: "Menlo"
  logo: "images/nokogiri-serif-white.svg"
  favicon: "images/nokogiri-serif-black.png"
  features: # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#configuration
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
#    - toc.integrate
  palette:
    primary: black
  icon:
    repo: fontawesome/brands/github

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sparklemotion/nokogiri.org
      name: sparklemotion/nokogiri.org
  analytics:
    provider: google
    property: G-BZR5RZN084
  consent:
    title: Cookie consent
    description: |
      This site uses cookies to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to make our
      documentation better.

plugins:
  - search:
      # include "." and "#" for ruby class and instance methods
      # include ":" for ruby class names
      separator: '[\s\.#:]'
  - social

extra_css:
  - "stylesheets/tidelift.css"
  - "stylesheets/custom.css"

markdown_extensions:
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
      toc_depth: 3
  - footnotes # https://python-markdown.github.io/extensions/footnotes/
  - pymdownx.magiclink
  - pymdownx.highlight
  - pymdownx.superfences

nav:
  - Overview: index.md
  - API: rdoc/index.html
  - Support:
    - Installing Nokogiri: tutorials/installing_nokogiri.md
    - Nokogiri for Enterprise: tidelift-landing.md
    - Getting Help: tutorials/getting_help.md
    - Security: tutorials/security.md
    - More Resources: tutorials/more_resources.md
  - Tutorials:
    - Table of Contents: tutorials/toc.md
    - Parsing an HTML/XML document: tutorials/parsing_an_html_xml_document.md
    - Parsing an HTML5 document: tutorials/parsing_an_html5_document.md
    - Searching a XML/HTML document: tutorials/searching_a_xml_html_document.md
    - Modifying an HTML/XML document: tutorials/modifying_an_html_xml_document.md
    - Ensuring well-formed markup: tutorials/ensuring_well_formed_markup.md
  - Changelog:
    - Changelog: CHANGELOG.md
    - 2022-12 Darwin Symbol Resolution: adr/2022-12-darwin-symbol-resolution.md
    - 2023-04 libxml Memory Management: adr/2023-04-libxml-memory-management.md
  - About:
    - Contributing: CONTRIBUTING.md
    - Code of Conduct: CODE_OF_CONDUCT.md
    - Security: SECURITY.md
    - License: LICENSE.md
    - Dependencies: LICENSE-DEPENDENCIES.md
    - Roadmap: ROADMAP.md
    - Privacy Policy: privacy-policy.md
