---
layout: default
---

<article class="page">

  <div class='clearfix'>
    {% if page.prev %}
    <div class='pull-left'>
      <a href={{page.prev.url}}>← {{page.prev.title}}</a>
    </div>
    {% endif %}

    {% if page.next %}
    <div class='pull-right'>
      <a href={{page.next.url}}>{{page.next.title}} →</a>
    </div>
    {% endif %}
  </div>

  {% if page.title and page.show_title != false %}
  <header>
    <h1 class="title indent">
      {% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    </h1>
  </header>
  {% endif %}

  {{ content }}

  <div class='clearfix'>
    {% if page.prev %}
    <div class='pull-left'>
      <a href={{page.prev.url}}>← {{page.prev.title}}</a>
    </div>
    {% endif %}

    {% if page.next %}
    <div class='pull-right'>
      <a href={{page.next.url}}>{{page.next.title}} →</a>
    </div>
    {% endif %}
  </div>

</article>
