<ul class="menu pull-left">
  <li><a href="https://rdoc.info/github/sparklemotion/nokogiri" target="_blank">Docs</a></li>
  <li><a href="https://github.com/sparklemotion/nokogiri" target="_blank">GitHub</a></li>
  <li><a href="https://ci.nokogiri.org/" target="_blank">Build Status</a></li>
</ul>
<ul class="menu pull-right">
  <li><a href="{{ root_url }}/tutorials/installing_nokogiri.html"><b>Install Help</b></a></li>
  <li><a href="{{ root_url }}/tutorials/"><b>Tutorials</b></a></li>
  <li><a href="{{ root_url }}/tutorials/getting_help.html"><b>Support</b></a></li>
  <li><a href="{{ root_url }}/tutorials/security.html"><b>Security</b></a></li>
</ul>
